
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Roboto Mono', monospace;
}

select {
    position: absolute;
    right: 3%;
    top: 4%;
    z-index: 999999;
}

canvas {
    display: block;
}

div {
    padding: 0.5rem 3rem;
}

h1, p {
    padding: 0.25rem;
}